
<div th:fragment="navbar">
  <header class=" fixed bottom-0 w-full sm:w-fit h-16 sm:relative sm:top-0 sm:h-screen shadow-lg">
    <nav class=" h-full flex  justify-evenly sm:h-screen sm:flex-col sm:justify-start sm:pt-16 sm:space-y-16 sm:w-16 2xl:w-44 2xl:justify-items-start 2xl:pl-2">
      <a href="/" class="2xl:w-fit  text-2xl flex justify-center items-center" title="home" ><i class="fas fa-home  2xl:mr-4"></i> <span class="hidden text-xl 2xl:inline ">Home</span> </a>
      <a href="/profile" class="2xl:w-fit  text-2xl flex justify-center items-center" title="profile" ><i class="fas fa-user  2xl:mr-4"></i> <span class="hidden text-xl 2xl:inline ">Home</span> </a>
      <a href="/login" th:if="${#authentication.principal == 'anonymousUser'}" class="2xl:w-fit  text-2xl flex justify-center items-center" title="Login"><i class="fas fa-sign-in 2xl:mr-4"></i><span class="hidden text-xl 2xl:inline"> Login </span> </a>
      <a href="/register" th:if="${#authentication.principal == 'anonymousUser'}" class="2xl:w-fit  text-2xl flex justify-center items-center" title="Register"> <i class="fas fa-user-plus 2xl:mr-4"></i><span class="hidden text-xl 2xl:inline"> Register </span></a>
    </nav>
  </header>
</div>
